<!DOCTYPE html>
<html lang="en">
<head>
	{%- include head.html -%}
</head>
<body>
	<main class="container">
		<section class="about">
			<a href="{{ "/" | relative_url }}" title="Thank you Danbee Kim for this portrait!"><img src="{{ site.logo | relative_url }}" alt="Thank you Danbee Kim for this portrait!"></a>
			<h2>{{ site.plainwhite.name }}</h2>
			<p class="tagline" id="tagline"></p>
			<script type="text/javascript">
				function selectRandom() {
					var allQuotes = arguments[0].split(".");
					var idx = Math.floor(Math.random() * (allQuotes.length - 1));
					var randomQuote = allQuotes[idx] + ".";
					document.getElementById("tagline").innerHTML = randomQuote;
				}
				selectRandom("{{ site.quotes }}")
			</script>
			<ul class="social">
				<a href="mailto:{{ site.email }}" title="Write me"><li><i class="icon-mail-alt" alt="Write me"></i></li></a>
				<a href="{{ "/about/" | relative_url }}" title="About"><li><i class="icon-info-circled" alt="About"></i></li></a>
				<a href="https://github.com/rebecca-burwei/rebecca-burwei.github.io" title="How to build a blog like this"><li><i class="icon-github-circled" alt="How to build a blog like this"></i></li></a>
			</ul>
			<a href="{{ "/feed.atom" | relative_url }}">Atom Feed</a>
		</section>
		<section class="content">
			{%- assign date_format = site.plainwhite.date_format | default: "%b %-d, %Y" -%}
			<ul class="posts"><h1 id="posts-label">Site Last Updated: {{ site.time | date: date_format }}</h1></ul>
			{{ content }}
		</section>
	</main>
</body>
<footer>
	{%- include foot.html -%}
</footer>
</html>
